/*This is the CSS page for our final template.*/

.w3-container {
	background-color: #412234;
	margin-right: 94%;
	color: #ffffff;
}

.footer p {
	background-color: #412234;
	text-align: center;
	font-size: 20px;
	margin-bottom: 0;
	color: lightgray;
}
.header {
	font-size: 40px;
	font-family: 'Newsreader', serif;
	background-color: #ffffff;;
	color: #412234 ;
	height: auto;
	font-weight: bold;
	text-align: center;
}
h4 {
	font-style: italic;
	font-size: 30px;
	font-family: 'Newsreader', serif;
	background-color: #412234;
	color: #ffffff ;
	text-align: center;
}
h3 {
	font-size: 30px;
	font-family: 'Newsreader', serif;
	background-color: #412234;
	color: #ffffff ;
	text-align: center;
}
p {
	font-family: 'Newsreader', serif;
	font-size: 20px;
}
ol {
	font-family: 'Newsreader', serif;
	font-size: 20px;
}
img {
	float: center;
	margin-right: 35%;
	margin-left: 35%;

}
.byline {
	height: auto;
	font-weight: bold;
	font-size: 20px;
	text-align: center;
	font-family: 'Newsreader', serif;
	background-color: #ffffff;;
}
.caption {
  font-size: 10px;
  margin-left: 46%;
  margin-right:46%;
}
a {
	color: #6d466b;
}